db.sqlite3
db.sqlite
# python-related
__pycache__
*.pyc

# ignore editor-specific files
.vscode
.idea

# ignore virtual enviroments
venv
env
lmnop_credentials.json
lmnop-project5-fa3bc2f81532.json
app.yaml
media
cloud_sql_proxy
gcp_creds.json
