{% extends 'lmn/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
{% endblock %}
{% block content %}


{% if star == "five_star" %}

<P>Star:<img class="badge" src="{% static 'images/reward_1.jpg' %}"  > </p>

{% elif  star == "four_star" %}
<P>Star: <img class="badge" src="{% static 'images/reward_2.jpg' %}"></p>

{% elif star == "three_star" %}
<P>Star: <img class="badge" src="{% static 'images/reward_3.jpg' %}" ></p>


{% elif star == "two_star" %}
<P>Star: <img class="badge" src="{% static 'images/reward_4.jpg' %}" ></p>

  
{% elif star == "one_star" %}

<P>Star: <img class="badge" src="{% static 'images/reward_5.jpg' %}"></p>

{% elif star == "no_star" %}
<P>Star: You don't have star reward </p>
{% else %}
<P>Star: You don't have star reward </p>

{% endif %}

<!-- A user's profile page-->

<!-- A user profile page where a User can update his profile like bio, favorite music, favorite artist , location and also the User's email and username are displayed -->
<h2 id='username_profile'>{{ user_profile.username }}'s Profile</h2>

<p class="account-heading">Username: {{ user_profile.username }}</p>
<p class="account-heading">Email: {{ user_profile.email}}</p>

<hr>

{% if user_profile.profile.bio %}
<div>
    <p>Bio: {{ user_profile.profile.bio }}</p>
</div>
{% endif %}
{% if user_profile.profile.favorite_artist %}
<div>
    <p>Fav Artist: {{ user_profile.profile.favorite_artist }}</p>
</div>
{% endif %}
{% if user_profile.profile.favorite_show %}
<div>
    <p>Fav Show: {{ user_profile.profile.favorite_show }}</p>
</div>
{% endif %}
{% if user_profile.profile.location %}
<div>
    <p>Location: {{ user_profile.profile.location }}</p>
</div>
{% endif %}
{% if user_profile.profile.favorite_music %}
<div>
    <p>Fav Music: {{ user_profile.profile.favorite_music }}</p>
</div>
{% endif %}

<hr>

<h2>Update User Info</h2>

<form method="POST" action="{% url 'my_user_profile' %}">
    <div>
      {% csrf_token %}
      {{ user_form.as_p }}
    </div>
    <input type='submit' class="submit" value='Submit Updated User Info'>
    
</form>

{% endblock %}
